In [17]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
ordinal_enc = OrdinalEncoder()
apply_scaling = False # decide if we apply scaling to the features.
# ,"Unnamed: 0.6","Unnamed: 0.2","Unnamed: 0.3","Unnamed: 0.4","Unnamed: 0.5"
all_df_split_removed = pd.read_csv('Taiwan_all_rows_with_locationv5.csv')
#all_df_split_removed.drop(columns=["Unnamed: 0","Unnamed: 0.1"],axis=1,inplace=True)
all_df_split = all_df_split_removed.reset_index().drop(columns="index")
total_data = all_df_split
total_data

,Unnamed: 0,Lot location or house number,transaction date,"Total price (10,000 yuan)","Unit price (10,000 yuan/square meter)",Total area(ping),Proportion of main building,House age,management organization,elevator,...,Land,Construction,Car,Bedrooms,Living rooms,Bathrooms,Encoded_type,Encoded_floor,Encoded_purpose,Encoded_city
0,0,土城區中華路一段５７號四樓,104/07/01,820.0,32.2,25.50,100.00%,39.0,0,NaN,...,1,1,0,3,2,2,2,2349,2,0
1,1,平鎮區湧?路２５巷１５號,104/07/01,218.0,0.0,9.60,NaN,45.0,0,NaN,...,2,1,0,2,1,1,11,1654,2,3
2,2,平鎮區金陵路２５８號２F,104/07/01,521.3,17.2,30.38,74.63%,22.0,1,NaN,...,2,1,0,3,2,2,8,1491,2,3
3,3,平鎮區平東路３０２巷４號,104/07/01,310.0,0.0,25.05,NaN,36.0,0,NaN,...,1,1,0,4,3,2,11,1659,2,3
4,4,平鎮區高雙路４８巷２８號,104/07/01,1100.0,0.0,61.34,NaN,9.0,1,NaN,...,1,1,0,4,3,3,11,1669,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385743,385743,三芝區田心子１５之１１號四樓,110/07/29,155.0,5.4,28.76,77.46%,26.0,1,0.0,...,2,1,0,3,2,2,2,2395,2,0
385744,385744,八里區龍米路一段２４６號十四樓之１,110/07/29,480.0,23.9,20.10,69.96%,20.0,1,1.0,...,1,1,0,1,1,1,0,2179,2,0
385745,385745,三芝區淺水灣街７之１號八樓,110/07/29,580.0,16.3,35.69,33.14%,24.0,1,1.0,...,1,1,0,2,2,1,8,1742,2,0
385746,385746,三芝區田心子１５之９號三樓,110/07/30,168.0,6.8,24.57,76.45%,26.0,0,0.0,...,2,1,0,3,2,1,2,1107,2,0
385747,385747,八里區文昌一街８號九樓,110/07/31,570.0,24.8,22.99,60.02%,3.0,1,1.0,...,1,1,0,2,1,1,0,1187,2,0

In [18]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

import numpy as np
import plotly.express as px

from sklearn.model_selection import GridSearchCV
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

import os
# title_counts =total_data#[total_data['Total area(ping)']<250]['Total area(ping)'] # count the number of occurrences of each unique value in the 'title' column
# fig, axs = plt.subplots()
# print(len(title_counts))
# # We can set the number of bins with the *bins* keyword argument.
# axs.boxplot(title_counts)
# # create a bar plot to visualize the frequency
# #title_counts.plot(kind='line')
# plt.title('Boxplot of Price')
# plt.show()
all_df_split=all_df_split.reset_index().drop(columns="index")
all_df_split["elevator"] = all_df_split["elevator"].fillna(0).astype(int)
if (apply_scaling):
    all_df_split['Proportion of main building'] = all_df_split['Proportion of main building'].str.rstrip('%').astype('float') / 10.0
else:
    all_df_split['Proportion of main building'] = all_df_split['Proportion of main building'].str.rstrip('%').astype('float') / 1.0
all_df_split.dropna(subset=['geometry_lat',"House age"],inplace=True)
all_df_split

,Unnamed: 0,Lot location or house number,transaction date,"Total price (10,000 yuan)","Unit price (10,000 yuan/square meter)",Total area(ping),Proportion of main building,House age,management organization,elevator,...,Land,Construction,Car,Bedrooms,Living rooms,Bathrooms,Encoded_type,Encoded_floor,Encoded_purpose,Encoded_city
0,0,土城區中華路一段５７號四樓,104/07/01,820.0,32.2,25.50,100.00,39.0,0,0,...,1,1,0,3,2,2,2,2349,2,0
1,1,平鎮區湧?路２５巷１５號,104/07/01,218.0,0.0,9.60,NaN,45.0,0,0,...,2,1,0,2,1,1,11,1654,2,3
2,2,平鎮區金陵路２５８號２F,104/07/01,521.3,17.2,30.38,74.63,22.0,1,0,...,2,1,0,3,2,2,8,1491,2,3
3,3,平鎮區平東路３０２巷４號,104/07/01,310.0,0.0,25.05,NaN,36.0,0,0,...,1,1,0,4,3,2,11,1659,2,3
4,4,平鎮區高雙路４８巷２８號,104/07/01,1100.0,0.0,61.34,NaN,9.0,1,0,...,1,1,0,4,3,3,11,1669,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385743,385743,三芝區田心子１５之１１號四樓,110/07/29,155.0,5.4,28.76,77.46,26.0,1,0,...,2,1,0,3,2,2,2,2395,2,0
385744,385744,八里區龍米路一段２４６號十四樓之１,110/07/29,480.0,23.9,20.10,69.96,20.0,1,1,...,1,1,0,1,1,1,0,2179,2,0
385745,385745,三芝區淺水灣街７之１號八樓,110/07/29,580.0,16.3,35.69,33.14,24.0,1,1,...,1,1,0,2,2,1,8,1742,2,0
385746,385746,三芝區田心子１５之９號三樓,110/07/30,168.0,6.8,24.57,76.45,26.0,0,0,...,2,1,0,3,2,1,2,1107,2,0
385747,385747,八里區文昌一街８號九樓,110/07/31,570.0,24.8,22.99,60.02,3.0,1,1,...,1,1,0,2,1,1,0,1187,2,0

In [19]:
# import requests

# for i, row in total_data.iterrows():
#     if i < 32100: continue
#     print(i)
#     reqStr = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={}%2C{}&&rankby=prominence&radius=1000&type=hospital&key=AIzaSyCLIx7hSolpa5yW_4uRrDl9cTbIVhuR6qs".format(row["geometry_lat"],row["geometry_lng"])
#     res = pd.DataFrame.from_dict(requests.get(reqStr).json()['results'])
#     total_data.loc[i, "len_hospitals"] = len(res)
#     if(total_data.loc[i, "len_hospitals"])<1:
#         continue
#     total_data.loc[i, "hospitals_nearby_0_geometry_lat"] = res.loc[0].get("geometry")["location"]["lat"]
#     total_data.loc[i, "hospitals_nearby_0_geometry_lng"] = res.loc[0].get("geometry")["location"]["lng"]
#     total_data.loc[i, "hospitals_nearby_0_rating"] = res.loc[0].get("rating")
#     total_data.loc[i, "hospitals_nearby_0_place_id"] = res.loc[0].get("place_id")
#     total_data.loc[i, "hospitals_nearby_0_user_ratings_total"] = res.loc[0].get("user_ratings_total")
#     if(total_data.loc[i, "len_hospitals"])<2:
#         continue
#     total_data.loc[i, "hospitals_nearby_1_geometry_lat"] = res.loc[1].get("geometry")["location"]["lat"]
#     total_data.loc[i, "hospitals_nearby_1_geometry_lng"] = res.loc[1].get("geometry")["location"]["lng"]    
#     total_data.loc[i, "hospitals_nearby_1_rating"] = res.loc[1].get("rating")
#     total_data.loc[i, "hospitals_nearby_1_place_id"] = res.loc[1].get("place_id")
#     total_data.loc[i, "hospitals_nearby_1_user_ratings_total"] = res.loc[1].get("user_ratings_total")
#     if(total_data.loc[i, "len_hospitals"])<3:
#         continue
#     total_data.loc[i, "hospitals_nearby_2_geometry_lat"] = res.loc[2].get("geometry")["location"]["lat"]
#     total_data.loc[i, "hospitals_nearby_2_geometry_lng"] = res.loc[2].get("geometry")["location"]["lng"]
#     total_data.loc[i, "hospitals_nearby_2_rating"] = res.loc[2].get("rating")
#     total_data.loc[i, "hospitals_nearby_2_place_id"] = res.loc[2].get("place_id")
#     total_data.loc[i, "hospitals_nearby_2_user_ratings_total"] = res.loc[2].get("user_ratings_total")
#     if(total_data.loc[i, "len_hospitals"])<4:
#         continue
#     total_data.loc[i, "hospitals_nearby_3_geometry_lat"] = res.loc[3].get("geometry")["location"]["lat"]
#     total_data.loc[i, "hospitals_nearby_3_geometry_lng"] = res.loc[3].get("geometry")["location"]["lng"]
#     total_data.loc[i, "hospitals_nearby_3_rating"] = res.loc[3].get("rating")
#     total_data.loc[i, "hospitals_nearby_3_place_id"] = res.loc[3].get("place_id")
#     total_data.loc[i, "hospitals_nearby_3_user_ratings_total"] = res.loc[3].get("user_ratings_total")
#     if(total_data.loc[i, "len_hospitals"])<5:
#         continue
#     total_data.loc[i, "hospitals_nearby_4_geometry_lat"] = res.loc[4].get("geometry")["location"]["lat"]
#     total_data.loc[i, "hospitals_nearby_4_geometry_lng"] = res.loc[4].get("geometry")["location"]["lng"]
#     total_data.loc[i, "hospitals_nearby_4_rating"] = res.loc[4].get("rating")
#     total_data.loc[i, "hospitals_nearby_4_place_id"] = res.loc[4].get("place_id")
#     total_data.loc[i, "hospitals_nearby_4_user_ratings_total"] = res.loc[4].get("user_ratings_total")

In [20]:
# total_data.to_csv("taiwan_with_location_with_both.csv")

In [21]:
# total_data[:542]

In [22]:
# import pandas as pd
# total_data = pd.read_csv("taiwan_with_location_with_hospitals.csv")

In [23]:
#Creating external nodes and edges
ordinal_enc = OrdinalEncoder()

#all_df_split['Encoded_type'] = ordinal_enc.fit_transform(all_df_split[['type']]).astype(int)
Encoded_type = all_df_split[["Encoded_type"]].drop_duplicates().sort_values(by='Encoded_type')

Encoded_floor = all_df_split[["Encoded_floor"]].drop_duplicates().sort_values(by='Encoded_floor')

# all_df_split['Encoded_purpose'] = ordinal_enc.fit_transform(all_df_split[['The main purpose']]).astype(int)
Encoded_purpose = all_df_split[["Encoded_purpose"]].drop_duplicates().sort_values(by='Encoded_purpose').reset_index().drop(columns="index")
all_df_split = all_df_split.loc[all_df_split["Encoded_purpose"]>=0]
all_df_split = all_df_split.loc[all_df_split["Encoded_type"]>=0]
all_df_split = all_df_split.loc[all_df_split["Encoded_floor"]>=0]
all_df_split = all_df_split.reset_index().drop(columns="index")

# Encoded_floor = Encoded_floor.dropna(subset=["Floor type/floor height"]).reset_index().drop(columns="index")
# Encoded_purpose = Encoded_purpose.dropna(subset=["The main purpose"]).reset_index().drop(columns="index")
Encoded_type.to_csv('../taiwan_dataset/v4/nodes_type_data.csv')
Encoded_floor.to_csv('../taiwan_dataset/v4/nodes_floor_data.csv')
Encoded_purpose.to_csv('../taiwan_dataset/v4/nodes_purpose_data.csv')


type_data = all_df_split["Encoded_type"].copy()
floor_data = all_df_split["Encoded_floor"].copy()
purpose_data = all_df_split["Encoded_purpose"].copy()

type_data = type_data.reset_index().rename(columns={"index":"node_id"})
floor_data = floor_data.reset_index().rename(columns={"index":"node_id"})
purpose_data = purpose_data.reset_index().rename(columns={"index":"node_id"})

# print(len(purpose_data))
type_data = type_data[type_data["Encoded_type"]>=0]
floor_data = floor_data[floor_data["Encoded_floor"]>=0]
purpose_data = purpose_data[purpose_data["Encoded_purpose"]>=0]

print(len(purpose_data))

type_data.to_csv('../taiwan_dataset/v4/edges_type_data.csv')
floor_data.to_csv('../taiwan_dataset/v4/edges_floor_data.csv')
purpose_data.to_csv('../taiwan_dataset/v4/edges_purpose_data.csv')

all_df_split['Encoded_city'] = ordinal_enc.fit_transform(all_df_split[['City']]).astype(int)
Encoded_city = all_df_split[["City", "Encoded_city"]].drop_duplicates().sort_values(by='Encoded_city').reset_index().drop(columns="index")
Encoded_city["Encoded_city"].to_csv('../taiwan_dataset/v4/nodes_city_data.csv')
city_data = all_df_split["Encoded_city"].copy()
city_data = city_data.reset_index().rename(columns={"index":"node_id"})
city_data = city_data[city_data["Encoded_city"]>=0]

city_data.to_csv('../taiwan_dataset/v4/edges_city_data.csv')

# all_df_split_removed =all_df_split.drop(columns=["type","Floor type/floor height","The main purpose", "Number of transactions", "The current layout of the building", "Remark"])
all_df_split_removed = all_df_split

385743

In [24]:
all_df_split_removed = all_df_split_removed.drop(columns=["Encoded_type","Encoded_floor","Encoded_purpose","Encoded_city","Unit price (10,000 yuan/square meter)","City","Lot location or house number"])
# all_df_split_removed["elevator"] = all_df_split_removed["elevator"].fillna(0).astype(int)
# if (apply_scaling):
#     all_df_split_removed['Proportion of main building'] = all_df_split_removed['Proportion of main building'].str.rstrip('%').astype('float') / 10.0
# else:
#     all_df_split_removed['Proportion of main building'] = all_df_split_removed['Proportion of main building'].str.rstrip('%').astype('float') / 1.0
# all_df_split_removed.dropna(subset=['geometry_lat',"House age"],inplace=True)
# all_df_split_removed

In [25]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

trainmask = (all_df_split_removed['transaction date'] < "110/01/01")
testmask = (all_df_split_removed['transaction date'] >= "110/01/01")
train_df = all_df_split_removed.loc[trainmask].copy()
test_df = all_df_split_removed.loc[testmask].copy()
if (apply_scaling):
    #try other scaler
    scaler1 = MinMaxScaler(feature_range = (1,10))
    scaler2 = MinMaxScaler(feature_range = (1,10))
    scaler3 = MinMaxScaler(feature_range = (1,10))
    scaler4 = MinMaxScaler(feature_range = (1,10))
    scaler5 = MinMaxScaler(feature_range = (1,10))

    #train_df["Unit price (10,000 yuan/square meter)"] = scaler1.fit_transform(train_df["Unit price (10,000 yuan/square meter)"].values.reshape(-1, 1))
    train_df["Total area(ping)"] = scaler2.fit_transform(train_df["Total area(ping)"].values.reshape(-1, 1))
    train_df["House age"] = scaler3.fit_transform(train_df["House age"].values.reshape(-1, 1))
    train_df["geometry_lat"] = scaler4.fit_transform(train_df["geometry_lat"].values.reshape(-1, 1))
    train_df["geometry_lng"] = scaler5.fit_transform(train_df["geometry_lng"].values.reshape(-1, 1))

    #test_df["Unit price (10,000 yuan/square meter)"] = scaler1.transform(test_df["Unit price (10,000 yuan/square meter)"].values.reshape(-1, 1))
    test_df["Total area(ping)"] = scaler2.transform(test_df["Total area(ping)"].values.reshape(-1, 1))
    test_df["House age"] = scaler3.transform(test_df["House age"].values.reshape(-1, 1))
    test_df["geometry_lat"] = scaler4.transform(test_df["geometry_lat"].values.reshape(-1, 1))
    test_df["geometry_lng"] = scaler5.transform(test_df["geometry_lng"].values.reshape(-1, 1))


train_df.drop(columns="transaction date", inplace=True)
test_df.drop(columns="transaction date", inplace=True)

scaler0 = MinMaxScaler(feature_range = (1,10))  
train_df["Total price (10,000 yuan)"] = train_df["Total price (10,000 yuan)"]*0.001
test_df["Total price (10,000 yuan)"] = test_df["Total price (10,000 yuan)"]*0.001

train_df['train_mask'] = True
train_df['test_mask'] = False

test_df['train_mask'] = False
test_df['test_mask'] = True

total_data = pd.concat([train_df, test_df])

total_data['feat'] = total_data.iloc[:,2:-2].astype(str).agg(', '.join, axis=1)
total_data = total_data.reset_index().drop(columns="index").reset_index().rename(columns={"index":"node_id"})
saveall_df = total_data[["node_id", "feat","Total price (10,000 yuan)","train_mask","test_mask"]]
saveall_df.to_csv('../taiwan_dataset/v4/nodes_total_data.csv',index=False)

In [26]:
saveall_df.feat[0]

'25.5, 100.0, 39.0, 0, 0, 24.9880613, 121.4456609, 1, 1, 0, 3, 2, 2'